.Root {}

.Image {
	top: -44px;
}


.List {
	--min: 30ch;

	display: flex;
	flex-wrap: wrap;
	gap: var(--space-l);
	list-style: none;
	justify-content: center;
	margin-top: var(--space-2xl);
}

.List>* {
	flex: 1 1 var(--min);
	max-width: 380px;
}


.List li {
	text-align: center;
	display: grid;
	place-content: center;
	min-height: 305px;
	border: 1px solid black;
	padding: var(--space-2xl) var(--space-s);
	font-size: var(--step-0);
	position: relative;

}


.ImgWrapper {
	background-color: var(--bg);
	padding: 1rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 0;
}

.ImgWrapper img {
	/* width: var(--space-l); */
	aspect-ratio: 1;
}
