.Root {
	/* height: 220px; */
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	width: 100%;
	gap: 16px;
}

.Title {
	font-weight: 400;
	font-size: 30px;
}

.Img {
	width: 80px;
	aspect-ratio: 1;
	/* position: absolute; */
}

.R {
	/* top: 0; */
	transform: translateX(135px)
}

.N {
	/* bottom: 0; */
	transform: translateX(-135px);
}
