.Root {
	--form-control-color: black;
	font-size: var(--step--1);
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.8em
}

.Root:focus-within {
	color: var(--form-control-color);
}

.Input {
	appearance: none;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15rem;
	height: 1.15rem;
	border: 0.15rem solid currentColor;
	border-radius: 50%;
	/* transform: translateY(-0.075em); */
	display: grid;
	place-content: center;
}

.Input::before {
	content: '';
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: CanvasText;
}

.Input:checked::before {
	transform: scale(1);
}

.Input:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

.Root+.Root {
	margin-top: var(--space-2xs);
}

.Root {}
