.Root {
	text-align: center;
}

.Text {
	font-size: var(--step-0);
	margin-bottom: var(--space-m);
	max-inline-size: 50ch;
}

.Name {
	font-size: var(--step-2);
	letter-spacing: 2px;
	margin-bottom: var(--space-s);
}

.Links {
	display: grid;
	place-items: center;
	gap: var(--space-s);
}

.Link {
	width: 100%;
	max-width: 350px;
	font-size: var(--step-0);
	font-weight: 600;
	display: inline-block;
	padding-block: 1rem;
	color: #ffffff;
	background-color: black;
}
