.Root {
	/* display: flex; */
	/* align-items: center; */
	/* flex-direction: column; */
	margin-bottom: var(--space-xl);
}

.LeftSide {
	text-align: center;
	padding-inline: var(--grid-gutter);
	/* margin-inline: auto; */
	margin-bottom: var(--space-l);
}

.Text {
	font-size: var(--step-0);
}

.Text:not(:last-child) {
	margin-bottom: var(--space-s);
}
